.root-pane {
    -fx-background-color: #f0f4f8;
    -fx-padding: 20;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
}

.title-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #f0f4f8;
    -fx-background-color: #dfe3ee;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-text-alignment: center;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    /*-fx-background-color: #e8eaf6;*/
    -fx-padding: 5 10;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

.custom-button {
    -fx-background-color: #3b5998;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    /*-fx-pref-width: 100px; 
    -fx-pref-height: 50px;  */	
}

.custom-button:hover {
    -fx-background-color: #324b7d;
}
